<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Mannat Themes">
        <meta name="keyword" content="">

        <title>Chronologic of Coronavirus</title>

        <!-- Chart Resources -->
        {% block chart-resources %}
        {% endblock %}

        <!-- Theme icon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <link href="{% static 'assets/plugins/morris-chart/morris.css' %}" rel="stylesheet">
        <!-- Theme Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/slidebars.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/menu.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    </head>

    <body class="sticky-header">
        <section>
            <!-- sidebar left start-->
            <div class="sidebar-left">
                <div class="sidebar-left-info">

                    <!--sidebar nav start-->
                    <ul class="side-navigation">
                        <li>
                            <h3 class="navigation-title">Navigation</h3>
                        </li>
                        {% block sidebar-menu-list-nav %}
                        {% endblock %}
                        <li class="menu-list"><a href="#"><i class="mdi mdi-map" aria-hidden="true"></i><span>Countries</span></a>
                            <ul class="child-list">

                                {% for country in countries %}
                                <li><a href="{% url 'mainapp:country_page' country.pk %}">
                                    {{ country.country }}
                                </a></li>
                                {% endfor %}

                            </ul>
                        </li>
                    </ul><!--sidebar nav end-->
                </div>
            </div><!-- sidebar left end-->

            <!-- body content start-->
            <div class="body-content">
                <!-- header section start-->
                <div class="header-section">
                    <!--logo and logo icon start-->
                    <div class="logo">
                        <a href="">
                            <span class="logo-img">
                                <img src="{% static 'img/logo.png' %}" alt="" height="46">
                            </span>
                            <!--<i class="fa fa-maxcdn"></i>-->
                            <span class="brand-name">ChronoCorona</span>
                        </a>
                    </div>

                    <!--toggle button start-->
                    <a class="toggle-btn"><i class="ti ti-menu"></i></a>
                    <!--toggle button end-->

                    <!--header1 start-->
                    {% block header1 %}
                    {% endblock %}
                    <!--header1 end-->
                </div>
                <!-- header section end-->

                <div class="container-fluid">
                    <!--header2 start-->
                    {% block header2 %}
                    {% endblock %}
                    <!--header2 end-->

                    {% block cases %}
                        <div class="cases">

                            <div class="confirmed-box">
                                <p>Confirmed:</p>
                                <p class="confirmed">{{ confirmed }}</p>
                            </div>

                            <div class="recovered-box">
                                <p>Recovered:</p>
                                <p class="recovered">
                                    {{ recovered }}</p>
                            </div>

                            <div class="deaths-box">
                                <p>Deaths:</p>
                                <p class="deaths">{{ deaths }}</p>
                            </div>

                            <div class="active-box">
                                <p>Active:</p>
                                <p class="active">{{ active }}</p>
                            </div>

                        </div>
                    {% endblock %}

                    <!--chart.js start-->
                    {% block chart-js %}
                    {% endblock %}
                    <!--chart.js end-->
                    <div class="text">
                        <p>
                        В мире не осталось людей, кто не слышал бы о бушующей пандемии коронавируса. Волна данного заболевания охватила весь земной шар. Вначале многие отнеслись весьма скептически к данной угрозе, а в последствии, поменяв свой взгляд на ситуацию, уже мало чем могли помочь. На сегодня статистика зараженных и умерших от данного заболевания, оставляет желать лучшего. Коронавирусу уже присвоен красный уровень опасности, он унес жизни более 624 тысячи людей по всему миру и продолжает убивать дальше.</p>
                        <p>Однако, медики нашли первые способы противостоять коронавирусу. И несмотря на то, что статистика заражений коронавирусом говорит о том, что число зараженных по всему миру уже превысило порог в 15 миллионов человек и продолжает расти, инфекцию все же удалось притормозить. Сегодня люди уже не так боятся выходить на улицу без средств защиты, так как зараженных стало намного меньше. Однако, это заблуждение. Коронавирус все еще не побежден, и он не спит!</p>
                        <p>Основными мерами защиты от коронавируса являются маски, перчатки и соблюдение дистанции между людьми не менее двух метров. Так же, к числу мер борьбы, относят и разрабатывающуюся в мире вакцину. По некоторым данным, вакцина уже тестируется на добровольцах, но результаты борьбы лекарства и коронавируса держатся пока в секрете. Тем временем, о коронавирусе и мерах борьбы с ним можно увидеть и услышать на каждом шагу. Правительство и медики продолжают предупреждать об опасности заболевания. Коронавирусу посвящены многие телепередачи, блоги и статьи. И хотя режим карантина снят во многих странах, людям рекомендуется соблюдать все возможные меры предосторожности.</p>
                        <p>Тем временем не стоит забывать и о приближающейся поре осенних инфекций. Наряду с сезонными заболеваниями, мир продолжает говорить и о коронавирусе и о возможной повторной вспышке. Прогнозируют, что коронавирусу предстоит еще как минимум раз заставить людей посидеть дома. Так что, маски и перчатки возможно нам еще пригодятся!</p>
                        <p>Данные берутся из Университета Джонса Хопкинса и Роспотребнадзора. Примечательно, что по мировым показателям сведения о коронавирусе Роспотребнадзора и американского университета иногда отличаются.</p>
                        <p>Так кто же входит в круг потенциальных жертв коронавирусов? Прежде всего те, кто живет в многоквартирных домах, кто работает в сфере обслуживания и, конечно, те, кто работает в непосредственном контакте с зараженными. Дети тоже являются частыми переносчиками данного заболевания, хотя сами могут болеть в легкой форме. Коронавирусу можно дать хороший отпор, если все будут соблюдать элементарные правила. Тогда, возможно, можно будет избежать повторной вспышки.</p>
                        <p>А пока у нас есть небольшая передышка, медики советуют, укреплять свой иммунитет. Чаще гулять (желательно подальше от большого скопления людей), правильно питаться и сохранять хороший настрой.</p>
                        <p>Люди недоумевают, почему некоторые переносят инфекцию коронавируса почти не замечая этого, тогда как других, еле удается спасти. Переработав разную информацию о коронавирусе, можно сказать, что основным фактором защиты служит иммунитет и отсутствие сопутствующих заболеваний пациента. Но, как говорят медики, не малое значение при коронавирусе играет сам настрой и желания вылечивакцина против ться самого заболевшего.</p>
            </div>

            </div><!--end container-->

                <!--footer section start-->
                <footer class="footer">
                    <p>
                        2020 &copy; Внимание! Ответственность автора.
                        <br>
                        Данный сайт не распространяет недостоверную информацию о коронавирусе.
                        Вся информация основана на простом прогнозировании и не претендует на достоверность,
                        так как реальное распространение коронавирусной инфекции зависит от разных факторов,
                        которые могут меняться каждый день. Авторы не несут ответственность за несбывшиеся прогнозы.
                    </p>

                </footer>
                <!--footer section end-->
            </div>
            <!--end body content-->
        </section>

        <!-- jQuery -->
        <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery-migrate.js' %}"></script>
        <script src="{% static 'assets/js/modernizr.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'assets/js/slidebars.min.js' %}"></script>

        <!--plugins js-->
        <script src="{% static 'assets/plugins/counter/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'assets/plugins/waypoints/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'assets/plugins/sparkline-chart/jquery.sparkline.min.js' %}"></script>
        <script src="{% static 'assets/pages/jquery.sparkline.init.js' %}"></script>

        <script src="{% static 'assets/plugins/chart-js/Chart.bundle.js' %}"></script>
        <script src="{% static 'assets/plugins/morris-chart/raphael-min.js' %}"></script>
        <script src="{% static 'assets/plugins/morris-chart/morris.js' %}"></script>
        <script src="{% static 'assets/pages/dashboard-init.js' %}"></script>

        <!--app js-->
        <script src="{% static 'assets/js/jquery.app.js' %}"></script>
        <script>
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                delay: 100,
                time: 1200
                });
            });
        </script>

        <!--chart-js-script-->
        {% block chart-js-script %}
        {% endblock %}
    </body>
</html>
